In [1]:
import pandas as pd

In [2]:
fin_21 = pd.read_csv('data/financials_2021.csv', index_col=0)
fin_22 = pd.read_csv('data/financials_2022.csv', index_col=0)
income_21 = pd.read_csv('data/income_2021.csv', index_col=0)
income_22 = pd.read_csv('data/income_2022.csv',index_col=0)

In [3]:
fin_21.info()
fin_22.info()
income_21.info()
income_22.info()

<class 'pandas.core.frame.DataFrame'>
Index: 673 entries, 0 to 672
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     673 non-null    object
 1   Account  673 non-null    object
 2   Debit    593 non-null    float64
 3   Credit   80 non-null     float64
 4   Type     673 non-null    object
dtypes: float64(2), object(3)
memory usage: 31.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 694 entries, 0 to 693
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     694 non-null    object
 1   Account  694 non-null    object
 2   Debit    630 non-null    float64
 3   Credit   64 non-null     float64
 4   Type     694 non-null    object
dtypes: float64(2), object(3)
memory usage: 32.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 48 entries, 0 to 47
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     48 non-null     object
 1   Account  48 non-null     object
 2   Income   48 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     30 non-null     object
 1   Account  30 non-null     object
 2   Income   30 non-null     float64
dtypes: float64(1), object(2)
memory usage: 960.0+ bytes

In [4]:
fin_21.describe(include='all').T
fin_22.describe(include='all').T
income_22.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,30,29,1/14/2022,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Account,30,1,CHK,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Income,30.0,NaN,NaN,NaN,2163.573667,1335.412845,13.37,2018.635,2076.93,2297.04,7000.0

In [5]:
#fin_21
#fin_22
#income_21
#income_22

In [6]:
fin_21['Debit'] = fin_21['Debit'].fillna(0.00).astype(float)
fin_21['Credit'] = fin_21['Credit'].fillna(0.00).astype(float)
fin_21.rename(columns={'Type': 'Category'}, inplace=True)

In [7]:
fin_22['Debit'] = fin_22['Debit'].fillna(0.00).astype(float)
fin_22['Credit'] = fin_22['Credit'].fillna(0.00).astype(float)
fin_22.rename(columns={'Type': 'Category'}, inplace=True)

In [8]:
#print(income_22)
#print(income_21)
#print(fin_22)
#print(fin_21)

          Date Account   Income
0    1/15/2021     CHK   470.49
1    1/29/2021     CHK   512.10
2    2/12/2021     CHK   475.27
3    2/26/2021     CHK   512.10
4    3/12/2021     CHK   574.70
5    3/19/2021     CHK   649.90
6    3/26/2021     CHK   649.91
7    3/26/2021     CHK   277.71
8     4/2/2021     CHK   649.90
9     4/9/2021     CHK   649.89
10   4/16/2021     CHK   649.91
11   4/23/2021     CHK   649.90
12   4/30/2021     CHK   649.90
13    5/7/2021     CHK   649.91
14   5/14/2021     CHK   692.59
15   5/21/2021     CHK   688.22
16   5/28/2021     CHK   710.13
17    6/4/2021     CHK   708.39
18   6/11/2021     CHK   657.73
19   6/18/2021     CHK   674.88
20   6/25/2021     CHK   671.25
21    7/2/2021     CHK   683.63
22    7/9/2021     CHK   714.10
23   7/16/2021     CHK   682.57
24   7/23/2021     CHK   740.15
25   7/30/2021     CHK   709.36
26    8/6/2021     CHK   680.45
27   8/13/2021     CHK   745.93
28   8/20/2021     CHK   715.40
29   8/27/2021     CHK   564.60
30    9/3/2021     CHK   723.33
31   9/10/2021     CHK   780.35
32   9/17/2021     CHK   628.97
33   9/24/2021     CHK   891.46
34   10/1/2021     CHK   893.19
35   10/8/2021     CHK   782.84
36  10/15/2021     CHK   804.81
37  10/22/2021     CHK   778.87
38  10/29/2021     CHK   879.21
39   11/5/2021     CHK   803.31
40  11/12/2021     CHK   854.21
41  11/19/2021     CHK   886.82
42  11/26/2021     CHK  2180.25
43   12/3/2021     CHK   850.74
44  12/10/2021     CHK  1022.49
45  12/17/2021     CHK  1053.01
46  12/23/2021     CHK   903.05
47  12/31/2021     CHK  2673.45

In [9]:
fin_21['Date'] = pd.to_datetime(fin_21['Date'], format='%m/%d/%Y')
fin_21['Month'] = fin_21['Date'].dt.month
fin_21['Year'] = fin_21['Date'].dt.year

fin_22['Date'] = pd.to_datetime(fin_22['Date'], format='%m/%d/%Y')
fin_22['Month'] = fin_22['Date'].dt.month
fin_22['Year'] = fin_22['Date'].dt.year

In [10]:
income_21['Date'] = pd.to_datetime(income_21['Date'], format='%m/%d/%Y')
income_21['Month'] = income_21['Date'].dt.month
income_21['Year'] = income_21['Date'].dt.year

income_22['Date'] = pd.to_datetime(income_22['Date'], format='%m/%d/%Y')
income_22['Month'] = income_22['Date'].dt.month
income_22['Year'] = income_22['Date'].dt.year

In [11]:
#fin_21.to_csv('data/clean_21.csv')
#fin_22.to_csv('data/clean_22.csv')

In [12]:
finance = pd.concat([fin_21, fin_22])
#finance
finance.to_csv('data/finance.csv', index=False, columns=['Date', 'Account', 'Debit', 'Credit', 'Category', 'Month', 'Year'])
income = pd.concat([income_21, income_22])
income.to_csv('data/income.csv', index=False, columns=['Date', 'Account', 'Income', 'Month', 'Year'])